@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Poppins", sans-serif;
    margin: 0;
}
.container{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}
header{
    display: grid;
    grid-template-columns: repeat(2, 0.6fr);
    justify-content: center;
    padding-top: 20px;
}
header .icon-rooms-cart{
    position: relative;
    transition: 0.2s all;
}
header .icon-rooms-cart span{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    width: 24px;
    height: 24px;
    display: flex;
    background-color: #353432;;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #eee;
    position: absolute;
    top: 39%;
    right: 44%;
}
.Aptlist .room .image img{
    width: 90%;
    max-height: 300px;
    object-fit: cover;
    padding-top: 2px;
    border-radius: 4px;
    transition: 0.2s all;
}
.Aptlist .room .image{
    position: relative;
    transition: 0.2s all;
}
.Aptlist .room .image .reviews{
    opacity: 0.0;
    color: #eeeeee00;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s all;
}
.Aptlist .room .image .reviews .likes{
    width: auto;
    height: 28px;
    padding: 2px 12px;
    background-color:#eeeee671;
    position: absolute;
    gap: 2px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: medium;
    font-weight: 400;
    font-family: Poppins;
    top: 50%;
    left: 50%;
    transform: translate(15%, -50%);
    text-wrap: nowrap;
    transition: 0.3s all;
}
.Aptlist .room .image .reviews .views{
    width: auto;
    height: 28px;
    padding: 2px 12px;
    background-color:#eeeee671;
    position: absolute;
    gap: 6px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: medium;
    font-weight: 400;
    font-family: Poppins;
    top: 50%;
    left: 50%;
    transform: translate(-105%, -50%);
    text-wrap: nowrap;
    transition: 0.3s all;
}

.Aptlist .room:hover > .image .reviews{
    opacity: 1;
}
.Aptlist{
    display: grid;
    grid-template-columns: repeat(2, 0.4fr);
    gap: 20px;
    justify-content: center;
}
.Aptlist .room{
    width: auto;
    height: fit-content;
    background-color: #eee;
    padding-top: 12px;
    padding-bottom: 18px;
    border-radius: 2px;
    transition: 0.3s all;
}
.Aptlist .room:hover > .image img{
    filter: blur(2px);
    filter:brightness(0.75);
}
.Aptlist .room:active{
    background-color: #eeeee69f;
}

.Aptlist .room .tags{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    
    position: relative;
    justify-content: space-between;
    transition: 0.3s all;
}

.Aptlist .room .tags .tag{
    margin: 2px 8px;
    padding: 4px 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #eee;
    font-size: small;
    font-family: Poppins;
    font-weight: 400;
    background-color: #eb2a2a;
    border-radius: 35px;
    transition: 0.3s all;
}


.Aptlist .room .info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 14px;
}

.Aptlist .room .price{
    font-weight: 500;
    letter-spacing: 2px;
    margin-right: 20%;
    font-size: small;
    color: black;
}.Aptlist .room .price .per{
    font-weight: 500;
    letter-spacing: 2px;
    color:#252523;
    font-size: small;
}
.Aptlist .room .apt{
    font-weight: 500;
    font-size: small;
    color: black;
}
.Aptlist .room .apt .rooms{
    font-weight: 500;
    font-size: small;
    color:#252523;
}
.Aptlist .room .buttons{
    display: flex;
    gap: 8px;
    justify-content: center;
}
.Aptlist .room .buttons .addRoom{
    width: 12%;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-color: #353432;
    color: #eee;
    border-radius: 2px;
    outline: none;
    border: none;
    padding: 0;
    margin-top: 12px;
    letter-spacing: 2px;
    font-size: small;
    cursor: pointer;
    transition: 0.3s all;
}
.Aptlist .room .buttons .addRoom svg{
    width: 24px;
    scale: 0.8;
}
.Aptlist .room .buttons .addRoom:hover{
    background-color: #252523;
}

.Aptlist .room .buttons .viewRooms{
    width: 44%;
    background-color: transparent;
    color: 353432;
    border-radius: 2px;
    border: 1px solid #252523;
    outline: none;
    padding: 8px;
    margin-top: 12px;
    letter-spacing: 2px;
    font-size: small;
    cursor: pointer;
    transition: 0.3s all;
}
.Aptlist .room .buttons .viewRooms:hover{
    background-color: #b38020dc;
    border: 1px solid transparent;
    color: #eee;
}

.Aptlist .room hr{
    width: 50%;
    margin-top: 4px;
    margin-bottom: 8px;
}


.likedTab{
    width: 400px;
    background-color:#252523;
    color: #eee;
    position:fixed;
    inset: 0 0 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
}
.likedTab h1{
    padding: 12px;
    margin: 0;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    font-family: Poppins;
}
.likedTab .close{
    height: 50px;
    background-color:#eeeee6;
    border: none;
    color:black;
    margin-top: auto;
    font-weight: 500;
    letter-spacing: 4px;
    font-family: Poppins;
}
.likedTab hr{
    height: 0;
    padding: 0;
    width: 65%;
    margin-top: 0;
}

.likedTab .listRooms .room{
    display: grid;
    grid-template-columns:100px 120px 1fr;
}
.likedTab .listRooms .room .reviews{
    display: flex;
}
.Aptlist .room .reviews .views{
    background-color: #b886237a;
    display: flex;
    width: 20%;
    padding: 2px 4px;
    border-radius: 2px;
    color: #eee;
    justify-content: center;
    align-items: center;
}
.Aptlist .room .reviews .likes{
    background-color: #353432;
    display: flex;
    width: 20%;
    margin: auto;
    padding: 2px 4px;
    border-radius: 2px;
    color: #eee;
    justify-content: center;
    align-items: center;
}
.Aptlist .room .image{
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* #b88623c2 light brown color */